@media screen and (min-width: 600px) {
  .show-on-mob {
    display: none !important;
  }
}

@media screen and (max-width: 599px) {
  .hide-on-mob {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .mycenterdeals-wrapper {
    max-width: 768px;
    padding: 0 10px;
  }

  #mycenterdeals,
  #mcd-retailer-deals .mcd-retailer-deals-wrapper {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  #mycentercareers {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  #mycenterblog {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 30px 20px;
  }

  #mycenterblog.isotope .mcd-blog-post-item {
    width: 33.33% !important;
    padding: 10px;
  }

  #mcd-blog-post .mcd-post-cols {
    flex-wrap: wrap;
  }

  #mcd-blog-post .mcd-post-cols .mcd-post-image-col {
    max-width: 240px;
  }

  #mcd-blog-post .mcd-post-cols .mcd-post-details-col {
    padding-left: 15px;
  }

  #mcd-blog-post .mcd-post-cols .mcd-post-sidebar-col {
    max-width: none;
    margin-left: 0;
    padding-left: 0;
    border: none;
  }

  #mcd-blog-post .mcd-latest-posts .mcd-posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 10px;
  }

  /* STORES */
  .mcd-retailer-listing.alphabetical .mcd-retailers {
    grid-template-columns: repeat(6, 1fr) !important;
  }

  .mcd-retailer-listing.categorized .mcd-retailers {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .mcd-retailer-listing .mcd-category .mcd-category-name {
    font-size: 14px;
    padding: 5px 10px;
  }

  #mcd-events-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 767px) {
  .mcp_btn {
    padding: 0 20px;
  }

  #mycenterdeals,
  #mcd-retailer-deals .mcd-retailer-deals-wrapper {
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  #mycentercareers {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 15px;
  }

  #mycenterblog {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 30px 15px;
  }

  #mycenterblog.isotope .mcd-blog-post-item {
    width: 50% !important;
    padding: 8px;
  }

  #mcd-blog-post .mcd-post-cols .mcd-post-image-col {
    max-width: 30%;
  }

  #mcd-deal .mcd-deal-image-col {
    width: 40%;
  }

  #mcd-deal .mcd-deal-details .mcd-deal-title,
  #mcd-deal .mcd-deal-details .mcd-deal-until,
  #mcd-deal .mcd-deal-details .mcd-deal-message,
  #mcd-deal .mcd-deal-details .mcd-retailer-phone,
  #mcd-retailer .mcd-retailer-details .mcd-retailer-name,
  #mcd-event .mcd-event-details .mcd-event-name,
  #mcd-event .mcd-event-details .mcd-event-date-time,
  #mcd-event .mcd-event-details .mcd-event-description {
    margin-bottom: 15px;
  }

  #mcd-retailer .mcd-retailer-details .mcd-retailer-description {
    padding-top: 15px;
  }

  /* STORES */
  .mcd-retailer-listing.alphabetical .mcd-retailers {
    grid-template-columns: repeat(5, 1fr) !important;
  }

  .mcd-retailer-listing.categorized {
    column-count: 2 !important;
  }
}

@media screen and (max-width: 599px) {

  #mcd-deal,
  #mcd-retailer,
  #mcd-event,
  #mcd-career,
  #mcd-blog-post {
    font-size: 14px;
  }

  #mcd-deal .mcd-deal-image-col,
  #mcd-retailer .mcd-retailer-image-col,
  #mcd-event .mcd-event-image-col,
  #mcd-career .mcd-career-image-col {
    width: 50%;
    padding-right: 15px;
  }

  #mcd-deal .mcd-deal-image-col .mcd-retailer-details .mcd-retailer-name {
    font-size: 18px;
  }

  #mcd-deal .mcd-deal-details .mcd-deal-title,
  #mcd-retailer .mcd-retailer-details .mcd-retailer-name {
    font-size: 18px;
    line-height: 22px;
  }

  #mcd-deal .mcd-deal-details,
  #mcd-retailer .mcd-retailer-details,
  #mcd-event .mcd-event-details,
  #mcd-career .mcd-career-details {
    padding-left: 0;
    line-height: 16px;
  }

  #mcd-retailer .mcd-retailer-details .mcd-retailer-location,
  #mcd-retailer .mcd-retailer-details .mcd-retailer-phone,
  #mcd-event .mcd-event-details .mcd-event-dates {
    margin-bottom: 6px;
  }

  /* STORES */
  .mcd-retailer-listing.categorized {
    column-count: 1 !important;
  }

  .mcd-retailer-listing.categorized .mcd-retailers {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  /* CALENDAR */
  #mcd-calendar .fc-toolbar .fc-center h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-align: right;
    color: #444;
  }

  .fc button {
    height: 1.6em;
    padding: 0 3px;
  }

  #mcd-calendar .fc-toolbar {
    height: auto;
  }

  .mcd-popup .mcd-popup-wrapper {
    padding-top: 60px;
  }

  .mcd-blog-post-item .mcd-blog-post-title {
    font-size: 13px;
    line-height: 17px;
  }

  .mcd-blog-post-item .mcd-learn-more {
    border-width: 1px;
    padding: 2px 6px;
    font-size: 12px;
  }

  #mcd-blog-post .mcd-post-cols .mcd-post-image-col {
    max-width: none;
    margin-bottom: 15px;
  }

  #mcd-blog-post .mcd-post-cols .mcd-post-details-col {
    padding-left: 0;
  }

  body.mycenterdeals-plugin .note-float-left,
  body.mycenterdeals-plugin .note-float-right {
    float: none !important;
    margin: 0 !important;
    width: 100% !important;
  }

  #mcd-blog-post .mcd-post-share {
    margin-bottom: 20px;
  }

  #mcd-blog-post .mcd-latest-posts .mcd-posts {
    display: block;
  }

  .mcd-post-featured-image .mcd-post-date {
    left: -6px;
    top: 8px;
    width: 40px;
    line-height: 11px;
    padding: 3px 0 5px;
  }

  .mcd-post-featured-image .mcd-post-date .mcd-day {
    font-size: 12px;
  }

  .mcd-post-featured-image .mcd-post-date .mcd-month {
    font-size: 14px;
  }

  body.mycenterdeals-plugin.code-mycentermap2 #threejs-map .amenities .amenity .img img {
    width: 40px;
    height: 40px;
    padding: 8px;
  }
}

@media screen and (max-width: 479px) {

  #mcd-filters {
    text-align: center;
    min-height: auto;
    margin-bottom: 0;
  }

  #mcd-filters>div {
    margin-bottom: 15px;
  }

  #mcd-filters-order {
    display: block;
  }

  #mcd-filters-order .mcd-filter-order {
    width: 50%;
  }

  #mcd-deal .mcd-deal-image-col .mcd-retailer-details .mcd-retailer-logo {
    width: 60px;
    height: 60px;
    top: -30px;
    margin-left: -30px;
  }

  #mcd-deal .mcd-deal-image-col .mcd-retailer-details .mcd-retailer-logo img {
    border-width: 3px;
  }

  /* STORES */
  #mycenterstores {
    flex-direction: column;
  }

  #mcd_store_search_box {
    margin-bottom: 12px;
  }

  #mcd_store_search_box .view_map_link {
    margin-bottom: 12px;
  }

  #mcd_store_search_box .mcd_search_categories {
    display: block;
    padding-right: 0;
  }

  #mcd_store_search_box .mcd_store_search {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }

  #mycenterstores .mcd-stores {
    padding-top: 0;
  }

  .mcd-retailer-listing.categorized .mcd-retailers,
  .mcd-retailer-listing.alphabetical .mcd-retailers {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  #mcd-deal .mcd-deal-cols,
  #mcd-retailer .mcd-store-cols,
  #mcd-event .mcd-event-cols,
  #mcd-career .mcd-career-cols {
    flex-direction: column;
  }

  #mcd-deal .mcd-deal-image-col,
  #mcd-retailer .mcd-retailer-image-col,
  #mcd-event .mcd-event-image-col,
  #mcd-career .mcd-career-image-col {
    padding-right: 0;
    margin-bottom: 15px;
    max-width: none;
    width: 100%;
  }

  #mcd-deal .mcd-deal-image-col .mcd-retailer-details {
    padding-top: 12%;
  }

  #mcd-deal .mcd-deal-image-col .mcd-retailer-details .mcd-retailer-name {
    display: none;
  }

  .mcd-career-item .mcd-career-details {
    padding: 8px 5px;
  }

  .mcd-career-item .mcd-career-details .mcd-career-title {
    font-size: 14px;
    line-height: 17px;
  }

  #mycenterstores a.mcd-retailer-image {
    filter: url('../img/grayscale.svg#normal');
    opacity: 1;
  }
}